body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DMSans-Regular" , sans-serif;
  background-color: #eff0f2;
}


/*

main color #6200ed 
liht color #ebddff

grey color #eff0f2
tiltle color #45108a


*/

@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("../fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
}
.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* start style */

/* srart side menu */
.Dashboard {
  display: flex;
  height: 100vh;
}

.Dashboard .row {
  width: 100%;
}
.Dashboard .side-menu {
  background-color: #6200ed;
  height: 100%;
  color: #fff;
  padding: 0;
  background-image: url(../img/side-bg.png);
  background-size: 100%;
  background-position-y: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  
}

.Dashboard .side-menu .logo-parent {
  margin: 40px 0 67px;
  width: 100%;
}


.Dashboard .navbar {
  padding-right: 0;
}

.Dashboard .navbar .navbar-nav {
  width: 100%;
}

.Dashboard .navbar .navbar-nav .nav-item {
  padding-left: 18px;
}

.Dashboard .navbar .navbar-nav .nav-item.active {
  background-color:#eff0f2;
  border-radius: 30px;
}

.Dashboard .navbar .navbar-nav .nav-item .nav-link{
  display: flex;
  align-items: center;
  color: #6200ed;
}

.Dashboard .navbar .navbar-nav .nav-item .nav-link img {
  margin-right: 15px;
  font-size: 17px;
}

/* end side menu */


/* start section dashboard body */

.dash-parent {
  padding: 0 20px;
}

.dash-parent .dash-header {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
}


.dash-parent .dash-header .search-parent  .user-title {
  font-family: 'DMSans-Bold',sans-serif;
  font-size: 18px;
  margin-right: 60px;
}

.dash-parent .dash-header .search-parent  .search-form input {
  min-width: 400px;
  background: #eff0f2;
  border-radius: 20px;
  border: 0;
  box-shadow: none;
  padding: 5px 100px 5px 20px;
}

.dash-parent .dash-header .search-parent  .search-form input:focus {
  outline: none;
}

.dash-parent .dash-header .search-parent  .search-form .submit-seacrh {
  background: #6200ed;
  padding: 10px 35px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.dash-parent .dash-header .search-parent  .search-form .submit-seacrh img {
  width: 15px;
}


/* end section dashboard body */